@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&family=VT323&display=swap");

html,
body {
  margin: 10;
  padding: 10;
  font-family: "Sedgwick Ave Display", cursive;
  font-family: "VT323", monospace;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin: auto;
  padding: 0;
  border: solid 2px rgb(35, 36, 37);
}

.grid div {
  width: 20px;
  height: 20px;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: rgb(119, 172, 119);
  transition: background-color 0.1s linear;
}

.apple {
  background-color: blue;
}

button {
  font-family: "Sedgwick Ave Display", cursive;
  font-family: "VT323", monospace;
  transition: 0.3s;
}

button:hover {
  background-color: aqua;
}
